$colorPrimary: #1da57a;
.pageContent {
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
.headerBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 14px;
  font-size: 16px;
  background: #fff;
  border-bottom: 1px solid #eee;
  .back {
    margin-right: 8px;
    font-weight: 600;
    font-size: 18px;
    &:hover {
      color: $colorPrimary;
      cursor: pointer;
    }
  }
}
.contentBox {
  flex: 1;
  height: 100%;
  // display: flex;
  flex-direction: column;
  padding: 12px;
}
